$black: #161616;
$yellow: #ffe500;
$white: #F7F7F7;
$grey: #F1F2F5;

$min-desktop: 1170px;
$min-benefits: 1010px;
$big-mobile: 500px;
$mobile: 360px;


$font-weights: (
  "black": 700,
  "bold": 600,
  "regular": 400
);

