@use "../utils/variables";

.header {
    background-color: variables.$black;
    width: 100%;
    position: absolute;
}

.header__wrapper {
    max-width: 117rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 29px;
    padding-bottom: 30px;
}

.header__tel,
.header__address {
    font-size: 1.7rem;
    text-decoration: none;
    color: #ffffff;
    padding-left: 2rem;
    position: relative;
}

.header__tel {
    font-size: 1.3rem;
    letter-spacing: 0.13rem;
    margin-top: 1rem;
    margin-right: 3.6rem;
    margin-left: auto;
}

.header__address {
    font-size: 1rem;
    margin-top: 1.3rem;
    margin-right: 3.4rem;
}

.header__button {
    display: none;
}

.header__phone,
.header__marker {
    position: absolute;
}

.header__phone {
    top: 2px;
    left: 1px;
}

.header__marker {
    top: 0;
    left: 3px;
}
