@use "../utils/variables.scss";

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14.3rem;
  background-color: #fff;
}

.map__heading {
  font-weight: 600;
  font-size: 3rem;
  margin-left: 0.5rem;
}

.map__img {
  margin-top: 4.7rem;
  margin-left: -4.9rem;
}

@media (max-width: variables.$min-desktop) {
  .map {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .map__img {
    margin-left: 0;

    width: 100%;
    height: auto;
  }
}

@media (max-width: variables.$mobile) {
  .map {
    padding-top: 6rem;
    padding-left: 0;
    padding-right: 0;
  }

  .map__heading {
    font-size: 2rem;
  }

  .map__img {
    margin-top: 2.5rem;
    max-width: 31.8rem;
  }
}

@media print {
  .map {
    page-break-before: always;
  }
}
