@use "../utils/variables";

.navigation {
    display: flex;
    padding-top: 0.7rem;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.7rem;
    letter-spacing: 0.014rem;

    &:not(:first-child) {
        margin-left: 3.2rem;
    }

    &--footer {
      &:not(:first-child) {
        margin-left: 2.4rem;
      }
    }

    &--special {
      display: none;
    }

    &:hover,
    :focus {
      color: rgba(#fff, 0.6);
    }

    &:active {
      color: rgba(#fff, 0.3);
    }
}

@media (max-width: (variables.$min-desktop - 10px)) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: variables.$mobile) {
  .navigation__link {
    margin: 0;
    font-size: 1.4rem;
    text-transform: uppercase;

    &--special {
      display: inline;
    }
  }
}
