@use "../utils/mixins";

%block-size {
  width: 54.7rem;
  height: 48.8rem;
}

.rent {
  background-color: #fff;
  padding-bottom: 16.6rem;
}


.rent__wrapper {
  @include mixins.wrapper-desktop;
  margin: 0 auto;
  display: flex;
  padding-top: 12.3rem;
}

.rent__content {
  padding-left: 2.2rem;
}

.rent__heading {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 15.7rem;
  letter-spacing: 0.36rem;
}

.rent__text {
  font-weight: 400;
  font-size: 1.5rem;

  max-width: 43rem;

  margin-top: 2.6rem;
  min-width: 4.3rem;
}

.rent__img-block {
  @extend %block-size;
  background-color: #F1F2F5;
  margin-left: 8.9rem
}

.rent__img {
  @extend %block-size;
  transform: translateY(6.6rem) translateX(6rem);
}

.rent__consult {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 27.9rem;
  min-height: 5.7rem;
  background-color: #161616;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #fff;

  margin-top: 4.5rem;
  margin-left: -0.2rem;
}
