.services {
  background-color: $grey;
  padding-top: 21.4rem;
  padding-bottom: 7rem;
}

.services__wrapper {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
}

.services__text {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-left: 0.7rem;
}

.services__list {
  list-style: none;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;

  margin-left: -3rem;
}

.services__service-card {
  margin-left: 3rem;
  margin-top: 4.5rem;
}
