.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 370px;
}

.service-card__map {
  position: absolute;
  top: 0;
  left: 0;
}

.service-card__img {
  width: 370px;
  height: 345px;
}

.service-card__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  font-weight: 600;
  font-size: 1.8rem;
  padding-left: 3.1rem;
  padding-right: 4.4em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.28rem;

  min-height: 11.5rem;

}
