.service-card {
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 37rem;

  &:hover {
    transform: translateY(-2rem);
  }
}

.service-card__on-map {
  position: absolute;
  top: 0;
  left: 0;
}

.service-card__img {
  width: 37rem;
  height: 34.5rem;
}

.service-card__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  font-weight: 600;
  font-size: 1.8rem;
  padding-left: 3.1rem;
  padding-right: 4.4em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.28rem;

  min-height: 11.5rem;
}
