@use "../utils/variables";

.service-card {
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 37rem;
  min-width: 28.8rem;

  &:hover {
    transform: translateY(-2rem);
  }
}

.service-card__on-map {
  position: absolute;
  top: 0;
  left: 0;
}

.service-card__img {
  width: 100%;
  height: auto;
}

.service-card__name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  font-weight: 600;
  font-size: 1.8rem;
  padding-left: 3.1rem;
  padding-right: 4.4em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.28rem;

  min-height: 11.5rem;
}

@media (max-width: variables.$mobile) {
  .service-card__name {
    padding-right: 0;
    padding-left: 2.5rem;
    font-size: 1.6rem;
    min-height: 8.9rem;
    text-align: center;
  }
}

@media print {
  .service-card {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    max-width: 4cm;
    display: flex;
    flex-direction: column;
  }

  .service-card__img {
    display: none;
  }

  .service-card__name {
    padding: 0;
    margin-top: 0.2cm;
    min-height: auto;
    font-size: 12pt;
  }
}
