@use "../utils/variables";
@use "../utils/mixins";


.store {
    background-color: variables.$black;

    padding-bottom: 10.9rem;
}

.store__wrapper {
  @include mixins.wrapper-desktop;
  margin: 0 auto;
  display: flex;

  padding-top: 13.3rem;
}

.store__content {
  padding-left: 2.1rem;
}

%white-text {
  color: #fff;
}

.store__heading {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 7.2rem;
  letter-spacing: 0.36rem;
  @extend %white-text;
}

.store__text {
  font-weight: 400;
  font-size: 1.5rem;

  width: 49.3rem;

  margin-top: 3rem;
  @extend %white-text;
}

.store__consult {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  width: 27.7rem;
  min-height: 5.5rem;
  background-color: #161616;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #fff;

  margin-top: 2.5rem;
  margin-left: -01rem;
}

.store__img-block {
  position: relative;
}

.store__img {
  position: absolute;
  top: 0;
  left: 8.7rem
}

@media (max-width: variables.$min-benefits) {
  .store__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .store__content {
    width: 100%;
  }

  .store__text {
    width: auto;
  }

  .store__img-block {
    order: -1;
  }

  .store__img {
    position: relative;
    top: auto;
    left: auto;

    width: 100%;
  }
}

@media (max-width: variables.$mobile) {
  .store {
    margin-top: 10.1rem;
    padding-bottom: 3.5rem;
  }

  .store__img {
    max-width: 28.8rem;
    min-height: 25rem;
    object-fit: cover;
    transform: translateY(-4.2rem);
  }

  .store__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -2.5rem;
    padding-left: 0;
  }

  .store__heading {
    margin-top: 0;
    font-size: 1.8rem;
  }

  .store__text {
    text-align: center;
    margin-top: 2.2rem;
    max-width: 27.7rem;
    line-height: 2.1rem;
  }

  .store__consult {
    margin-top: 2.9rem;
    width: 28.8rem;
    margin-left: 0;
  }
}

@media print {
  .store {
    padding-bottom: 0;
  }

  .store__wrapper {
    padding-top: 0;
  }

  .store__consult {
    display: none;
  }

  .store__img-block {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 0;
  }

  .store__content {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5cm;
    padding-left: 0;
  }

  .store__img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 0;
  }

  .store__heading {
    display: block;
    margin-top: 0;
    width: 100%;
    color: #000;
    font-size: 20pt;
  }

  .store__text {
    width: 100%;
    margin-top: 0.3cm;
    color: #000;
    font-size: 15pt;
  }
}
