*,
*::before,
*::after {
    @include reset;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}